---
import { astroI18n, t } from 'astro-i18n';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>{t('hi')} from {Astro.url.pathname}</h1>
    <p>locale is {astroI18n.locale}</p>
    <a href="/about">About</a>

    <form id="persons" method="POST">
      <div>Number of people</div>

      <!-- create two buttons with value 1 and 2 to submit -->
      {
        Array.from({ length: 10 }, (_, i) => i + 1).map((i) => (
          <button type="submit" name="filters[persons]" value={i}>
            {i}
          </button>
        ))
      }
    </form>

    <form id="bedrooms" method="POST">
      <div>Number of bedrooms</div>

      <select name="filters[bedrooms]">
        {
          Array.from({ length: 10 }, (_, i) => i + 1).map((i) => (
            <option value={i}>{i}</option>
          ))
        }
      </select>
    </form>

    <section id="listings">
      <template id="listing-template">
        <article>
          <h2>
            <!-- house name -->
          </h2>

          <p>
            <!-- house subarea -->
          </p>
        </article>
      </template>
    </section>

    <script>
      import { changeSearchParam } from './_search-store';

      const form = document.querySelector('#persons') as HTMLFormElement;

      form.addEventListener('submit', (event) => {
        event.preventDefault();

        const submitter = event.submitter as HTMLButtonElement;
        const value = submitter.value;

        return changeSearchParam('filters[persons]', value);
      });

      // add submit event listener to bedrooms form once the value of people change
      const bedroomsSelect = document.querySelector(
        '#bedrooms select'
      ) as HTMLSelectElement;

      bedroomsSelect.addEventListener('change', (event) => {
        event.preventDefault();

        const value = bedroomsSelect.value;

        return changeSearchParam('filters[bedrooms]', value);
      });
    </script>
  </main>
</Layout>
